{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div>
    <h3>Автор: Безусловно очень талантливый разработчик</h3>
    <h4>Вашему вниманию представлена программа для генерации пароля</h4>
    <p class="description">В первом поле из выпадающего списка выберите количество символов, затем,
    при необходимости, поставьте чек-бокс для добавления в пароль символов верхнего
    регистра, цифр, спец. символов. После чего нажмите кнопку: "Сгенерировать пароль"
    </p>
    <p><a href="{% url 'home' %}">Вернуться на главную страницу</a></p>
</div>
</body>
</html>